body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}

.imagelabel {
    width: 45vmin;  
    height: 10vmax;
    margin-bottom: 10px;
}

img {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

#expansion-list {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);

}

#expansion-option > .image {
    width: 45vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}